@font-face {
	font-family: 'acpr';
	src: url('../font/accidentalPresidency.ttf');
	font-weight: 700;
	font-style: normal;
	font-stretch: 100;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
img,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
fieldset,
form,
input {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

:root {
	--clr-bright: #ffeed5;
	--clr-brown: #6a4420;
	--clr-dark: #101c31;
	--clr-green: #5a755a;
	--clr-tan: #d5aa73;
	--clr-silver: #a49d9c;
	--clr-teal: #008583;
	--clr-yellow: #e69d00;
	--clr-red: #cd0462;

	--fg: var(--clr-brown);
	--bg: var(--clr-bright);

	--radius: 1em;

	--es-cubic: cubic-bezier(0, .5, .5, 1);

	color: var(--fg);

	font-family: 'acpr', 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: .0625em;

	transition: all 200ms ease;
}


[data-quality] {
	accent-color: var(--_clr-quality, blue);
}

[data-quality="normal"],
[data-quality="shining"] {
	--_clr-quality: var(--clr-tan);
	accent-color: var(--_clr-quality);
}

[data-quality="glistening"] {
	--_clr-quality: var(--clr-silver);
	accent-color: var(--_clr-quality);
}

[data-quality="opulent"] {
	--_clr-quality: var(--clr-teal);
	accent-color: var(--_clr-quality);
}

[data-quality="radiant"] {
	--_clr-quality: var(--clr-yellow);
	accent-color: var(--_clr-quality);
}

[data-quality="alpha"] {
	--_clr-quality: var(--clr-red);
	accent-color: var(--_clr-quality);
}

/* Base or Globals */

.wrapper {
	margin: 2rem auto;
	max-width: 160ch;
}


/* Components */

.section-gallery {
	background: var(--clr-brown);
	padding: 1.5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.25rem;
}

.section-header {
	text-transform: uppercase;
}

.card {
	background-color: var(--bg);
	border-radius: var(--radius);
	padding: 1rem;
}

.card header {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: .5rem;
}

.card img {
	display: block;
	margin-inline: auto;
	filter: drop-shadow(0px 0px 1px var(--clr-brown));
}

.quality-bar {
	display: flex;
	gap: .5rem;
}

.quality-bar input {
	appearance: none;
	width: 1.5rem;
	aspect-ratio: 1rem;
	cursor: pointer;
	border-radius: 99rem;
	outline-offset: 2px;
	outline-color: var(--_clr-quality);
}

.quality-bar input::before {
	content: '';
	display: block;
	width: 100%;
	aspect-ratio: 1;
	border: 3px solid var(--_clr-quality);
	background-color: transparent;
	border-radius: 99rem;
	transition: all 150ms var(--es-cubic);
}

input:checked::before {
	background-color: var(--_clr-quality);
}